header {
        background-color: #141414; height: 136px;}

#box { 
    max-width: 1324px; height: 136px; width: 100%; 
    border-bottom: 1px solid #444;
    background-color: #141414; margin-inline: auto;}

#pulse {
        margin-top: 47px;}
#menu {
        margin-left: 2px; display: none; border: none;
        background-color: #141414; }
        
header ul a {
  font-family: "Archivo", sans-serif; font-weight: 600;
  font-size: 22px; color: #fff; position: relative; z-index: 12;}

.hover-circle {
  position: fixed; width: 40px;
  height: 40px; background: #F47521;
  border-radius: 50%; pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s; z-index: 5; }

#ul1 {
      display: flex; margin-left: 270px; margin-top: -32px; z-index: 6;
      width: 745px; list-style: none; padding-top: 0; gap: 50px;}

#nav1 {
       width: 98px; height: 33px; display: flex; gap: 26px; margin-left: 1220px;
       margin-top: -32px; }

#nav1 * {
         margin-block: auto;}
