#sec3 {
       height: 1067px; margin-top: 15px;}

.run-line {
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #000;
  height: 219px;}

.line-text {
  display: flex; align-items: center; font-size: 100px; gap: 25px;
  animation: move 7s linear infinite; margin-block: 1%;}

.line-text span {
              font-family: "Oswald", sans-serif;
              font-weight: 400;  color: #000;
              white-space: nowrap; font-size: 100px; 
              margin-top: 20px;}

.line-text strong {
              border-radius: 50%; color: #F47521;
              width: 14px; height: 14px;}

.dot {
    width: 14px;
    height: 14px;
    background: #F47521;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: 20px;}

#sec3 #photos {
         display: flex; justify-content: center;}

#sec3 #photos img { 
    width: 512px; height: 563.2px;}

#sec3-cards {
            background: #FFF; max-width: 1520px; height: 144px; 
            display: flex; justify-content: center;}

#sec3-card {
            width: 510px; height: 144px; display: flex; 
            align-items: center; justify-content: space-between;}

#sec3-card span {
                font-family: "Archivo", sans-serif; font-weight: 700;
                font-size: 16px; line-height: 144%; color: #141414;
                letter-spacing: 0.1em; text-transform: uppercase; 
                margin-left: 56px;}
#sec3-card:hover span, #sec3-card:hover svg {
        color: #F47521;}

@keyframes move {
  from {
    transform: translateX(100%);}
  to {
    transform: translateX(-100%);}}